/* src/App.css */
body  {
  margin: 0;
}
.App {
  text-align: center;
  display: flex;
}
.col1, .col2 {
  width: 50%;
}

.col2 {
  background-image: url(../public/vite.svg);
  background-size: cover;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-display {
  font-size: 3em;
  margin-bottom: 20px;
}

button {
  font-size: 1em;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}
